<div class="flex-body">
    <div class="flex-header">
    <div> <img src="/cartola.png" width="100%" height="90%"> </div>
    <div><h3><span>Cartola</span> Dos <span>Clubistas</span></h3></div>
    <div class="imagem-direita"> <img src="/champions.png" width="100%" height="80%"> </div>
    </div>